sip==4.18.1
PyQt5==5.7
QScintilla==2.9.3
appdirs==1.4.0
jedi==0.9.0
six==1.10.0
python-dateutil==2.5.3
pypyodbc==1.3.6
numpy==1.11.1
cycler==0.9.0
pyparsing==2.0.7
pytz==2015.7
matplotlib==1.5.2
xlrd==1.0.0
xlwt==1.1.2
xlutils==2.0.0
